h1{
    margin-bottom: 50px;
}

h3{
    color: rgb(72, 66, 66);
}

.foodButtons{
    display:flex;
    justify-content:center;
    gap: 20px;
}
.foodButtons button {
    width: 200px;
    height: 50px;
    background-color: rgb(43, 39, 39);
    color: white;
    font-size: 15px;
}

.foodButtons button:hover{
    cursor: pointer;
    opacity: 0.8;
}

select{
    width: 200px;
    height: 30px;
}

#cookButton{
    display:block;
    margin: 30px auto;
    width: 100px;
    height: 50px;
    background-image: url("https://media.istockphoto.com/id/113494458/photo/fire-isolated-over-black-background.jpg?s=612x612&w=0&k=20&c=u6STGsSpJAyBN8kDeqnVUla4-0SnLpdaTsehFsey2p0=");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color:white;
    border-radius: 20px;
    font-size: 15px;
}

#cookButton:hover{
    cursor:pointer;
    opacity: 0.9;
}