
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://t3.ftcdn.net/jpg/03/10/27/00/360_F_310270046_VUBm1DmHdgtiQDDmOAk450UXQtvyvn1H.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;

}
